.button{
     -fx-background-color: transparent; 
     -fx-opacity: 0.0;
     -fx-background-image: url('/gui/pvzsun.png')
     -fx-text-fill: black;
     -fx-font-weight: bold;
     -fx-font-size: 40;
}
